@model string

@{
    ViewBag.Title = "Selected Device";
}

<div class="col-lg-12">
    <h2>Selected Device: @Model</h2>
</div>
<div id="device-buttons-container">
    <div class="col-lg-6 ddbutton-container">
        <div class="ddbutton">
            <a href="@Url.RouteUrl("selectedDeviceLogs")">
                Logs
            </a>
        </div>
        
    </div>
    <div class="col-lg-6 ddbutton-container">
        <div class="ddbutton">
            <a href="@Url.RouteUrl("selectedDeviceQuestions")">
                Q & A
            </a>
        </div>
    </div>
</div>
